@use 'libs/francesco-lucania-pizza-ui/assets/styles/theme-provider/theme_provider'
  as theme;
@use 'libs/francesco-lucania-pizza-ui/assets/styles/theme-provider/base-styles/typography/typography'
  as typography;

.header-user-menu {
  @include typography.text-base-large();

  display: flex;

  @include theme.mq(sm) {
    margin-top: 16px;
  }

  @include theme.mq(md) {
    margin-left: 24px;
    margin-top: 0;
  }

  > a,
  > :global(a) {
    display: block;
    color: var(--navigateListColorBase);
    font-weight: var(--navigateListFontWeight);
    transition: all var(--navigateListTransition);

    &:hover,
    &:global(.is-active) {
      color: var(--navigateListColorHover);

      span::after {
        width: 100%;
      }
    }

    &:global(.is-active) {
      color: var(--colorLightest);
      pointer-events: none;
    }

    span {
      position: relative;

      &::after {
        position: absolute;
        display: block;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        width: 0;
        height: 3px;
        background-color: var(--colorBrand);
        transition: all 0.2s;
        content: '';
      }
    }
  }
}

.focus-visible {
  &:focus-visible {
    outline: 2px solid var(--accessibilityBorder);
    outline-offset: 2px;
  }
}
