<form (ngSubmit)="send()" class="registration-form">
  <div class="registration-form__container">
    <h1 class="registration-form__title">Регистрация</h1>

    <!-- Email -->
    <div class="mt-16">
      <label for="email" class="registration-form__label">Email</label>
      <pizza-lib-input
        class="mt-4"
        [formField]="registrationForm.email"
        type="email"
        id="email"
        placeholder="Введите email"
        [size]="'large'"
        (blurEvent)="markFieldTouched('email')"
      />
      @if (shouldShowError('email', registrationForm.email)) {
      <div class="text-base-small color-error mt-4">
        {{ getErrorMessage(registrationForm.email().errors()) }}
      </div>
      } @if (serverError() === 'BUSY_EMAIL') {
      <div class="text-base-small color-error mt-4">Этот email уже занят</div>
      }
    </div>

    <!-- Phone -->
    <div class="mt-16">
      <label for="phone" class="registration-form__label">Телефон</label>
      <pizza-lib-input
        class="mt-4"
        [formField]="registrationForm.phone"
        type="tel"
        id="phone"
        placeholder="+7 (___) ___-__-__"
        [size]="'large'"
        [maskitoOptions]="phoneMaskOptions"
        (blurEvent)="markFieldTouched('phone')"
      />
      @if (shouldShowError('phone', registrationForm.phone)) {
      <div class="text-base-small color-error mt-4">
        {{ getErrorMessage(registrationForm.phone().errors()) }}
      </div>
      } @if (serverError() === 'BUSY_PHONE') {
      <div class="text-base-small color-error mt-4">Этот телефон уже занят</div>
      }
    </div>

    <!-- Name -->
    <div class="mt-16">
      <label for="name" class="registration-form__label">Имя</label>
      <pizza-lib-input
        class="mt-4"
        [formField]="registrationForm.name"
        type="text"
        id="name"
        placeholder="Введите имя"
        [size]="'large'"
        (blurEvent)="markFieldTouched('name')"
      />
      @if (shouldShowError('name', registrationForm.name)) {
      <div class="text-base-small color-error mt-4">
        {{ getErrorMessage(registrationForm.name().errors()) }}
      </div>
      }
    </div>

    <!-- Full Name -->
    <div class="mt-16">
      <label for="fullName" class="registration-form__label">Полное имя</label>
      <pizza-lib-input
        class="mt-4"
        [formField]="registrationForm.fullName"
        type="text"
        id="fullName"
        placeholder="Введите полное имя"
        [size]="'large'"
        (blurEvent)="markFieldTouched('fullName')"
      />
      @if (shouldShowError('fullName', registrationForm.fullName)) {
      <div class="text-base-small color-error mt-4">
        {{ getErrorMessage(registrationForm.fullName().errors()) }}
      </div>
      }
    </div>

    <!-- Gender -->
    <div class="mt-16">
      <span class="registration-form__label">Пол</span>
      <div class="registration-form__radio-group">
        <pizza-lib-radio
          class="mt-8"
          [formField]="registrationForm.gender"
          [radioValue]="'make'"
          label="Мужской"
          (blurEvent)="markFieldTouched('gender')"
          (changedEvent)="markFieldTouched('gender')"
        />
        <pizza-lib-radio
          class="mt-8"
          [formField]="registrationForm.gender"
          [radioValue]="'female'"
          label="Женский"
          (blurEvent)="markFieldTouched('gender')"
          (changedEvent)="markFieldTouched('gender')"
        />
      </div>
      @if (shouldShowError('gender', registrationForm.gender)) {
      <div class="text-base-small color-error mt-4">
        {{ getErrorMessage(registrationForm.gender().errors()) }}
      </div>
      }
    </div>

    <!-- Date Issue -->
    <div class="mt-16">
      <label for="dateIssue" class="registration-form__label"
        >Дата выдачи</label
      >
      <pizza-lib-input
        class="mt-4"
        [formField]="registrationForm.dateIssue"
        type="date"
        id="dateIssue"
        placeholder="Выберите дату"
        [size]="'large'"
        (blurEvent)="markFieldTouched('dateIssue')"
      />
      @if (shouldShowError('dateIssue', registrationForm.dateIssue)) {
      <div class="text-base-small color-error mt-4">
        {{ getErrorMessage(registrationForm.dateIssue().errors()) }}
      </div>
      }
    </div>

    <!-- Password -->
    <div class="mt-16">
      <label for="password" class="registration-form__label">Пароль</label>
      <pizza-lib-input
        class="mt-4"
        [formField]="registrationForm.password"
        type="password"
        id="password"
        placeholder="Введите пароль"
        [size]="'large'"
        (blurEvent)="markFieldTouched('password')"
      />
      @if (shouldShowError('password', registrationForm.password)) {
      <div class="text-base-small color-error mt-4">
        {{ getErrorMessage(registrationForm.password().errors()) }}
      </div>
      }
    </div>

    <!-- Submit Button -->
    <div class="registration-form__actions mt-24">
      <pizza-lib-button
        [buttonType]="'submit'"
        [label]="'Зарегистрироваться'"
        [theme]="'brand'"
        [disabled]="!registrationForm().valid()"
        [fullWidth]="true"
      />
    </div>
  </div>
</form>
